<!DOCTYPE html >
 <html lang="en">
 <head>
 <meta charset="UTF-8">
 <title>Title</title>
 <link rel="stylesheet" href="css/main.css">
 </head> 
    <body>
      <header> 
	    <div class="container">
	     <div class="clearfix">
	     	<div class="logo">
	     		<a href="#">
          <img src="img/foliac-logo.png" alt="foliac" class="logo"> </a>
      </div>
		<nav>
			<ul class="menu">
				<li>
					<a href="#">Accueil</a>
				</li>
				<li>
					<a href="#">Portfolio</a>
				</li>
				<li>
					 <a href="#">About</a>
				</li>
				<li>
					 <a href="#">Contact</a> 
				</li>
			</ul> 
		</nav>
		<div class="titles">
		<div class="titles-first">
			<h1>
				voici votre prochain portfolio
			</h1>	
			   un template psd simple et gratuit
		</div>
	<a href="#" class="button">mes travaux</a>
	</div>
	</div>
	</div>
</header>
  <footer>
        <div class="container">
                <div class="copyright">
                    Copyright © 2015 by beneggen -
                    <span>www.beneggen.fr</span>
                </div>
              <ul class="social_networks">
                    <li>
                        <a href="#">
                            <img src="img/Twitter.png" alt="Twitter"> </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/Linkedin.png" alt="Linkedin"> </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/Dribbble.png" alt="Dribbble"> </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/Behance.png" alt="Behance"> </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>
